<!--
<p>navbar works!</p>

<ul class="nav navbar-nav">
    <li>
      <a (click)="goToIndex()">Home</a>
    </li>
    <li>
      <a >About Us</a>
    </li>
    <li>
      <a>Products</a>
    </li>
</ul>
-->

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a (click)="goToOpcion(66)" href="#">Inicio</a></li>
        <li><a (click)="goToOpcion(1)" href="#">Artículos</a></li>
        <li><a (click)="goToOpcion(2)" href="#">Nuevo artículo template</a></li>
        <li><a (click)="goToOpcion(3)"href="#">Nuevo artículo reactivo</a></li>
      </ul>
    </div>
</nav>