
# Ignora archivos del sistema Mac 
.DS_store

# Ignora la carpeta node_modules
node_modules

# Ignora la carpeta .angular
.angular/
#.angular/cache/15.2.8/angular-webpack
#.angular/cache/15.2.8/babel-webpack

